<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Language" content="zh-CN"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>SIMPLE FORM</title>
<style type="text/css">
body { font-family:sans-serif; }
a:link { color:blue; }
a:visited { color:blue; }
/**
 * DIV table
 */
.div-table {
    display: table;
    width: auto;
}
.div-table-body {
    display: table-row-group;
}
.div-table-heading {
    display: table-header-group;
    background-color: #F4F4F4;
    font-weight: bold;
}
.div-table-head {
    display: table-cell;
    padding: 0px 5px;
    border: 1px solid #F4F4F4;
    border-bottom: 1px solid #F4F4F4;
    vertical-align: top;
    font-size:13px;
}
.div-table-row {
    display: table-row; 
}
.div-table-cell {
    display: table-cell;
    padding: 0px 5px;
    border: 1px solid #FFFFFF;
    border-bottom: 1px solid #F4F4F4;
    vertical-align: top;
    font-family: monospace;
    font-size:13px;
}
.div-table-foot {
    display: table-footer-group;
    background-color: #FFF;
    font-weight: bold;
}
.div-table-cell, .div-table-head p {
    word-break: keep-all;
    white-space: nowrap;
}
</style>
</head>

<body>
<div><h1>SOURCE:</h1></div>

<!-- table begin -->
<div class="div-table">

<!-- table head begin -->
<div class="div-table-heading">
<div class="div-table-head"><p></p></div>
<div class="div-table-head"><p></p></div>
<div class="div-table-head"><p></p></div>
<div class="div-table-head"><p>ID</p></div>
<div class="div-table-head"><p>Name</p></div>
<div class="div-table-head"><p>Abbr</p></div>
<div class="div-table-head"><p>Logo</p></div>
<div class="div-table-head"><p>Domain</p></div>
<div class="div-table-head"><p>WWW</p></div>
<div class="div-table-head"><p>Description</p></div>
<div class="div-table-head"><p>Type</p></div>
<div class="div-table-head"><p>Specific</p></div>
<div class="div-table-head"><p>Priority</p></div>
<div class="div-table-head"><p>Latency</p></div>
<div class="div-table-head"><p>Label1</p></div>
<div class="div-table-head"><p>URL1</p></div>
<div class="div-table-head"><p>Type1</p></div>
<div class="div-table-head"><p>Encoding1</p></div>
<div class="div-table-head"><p>Country1</p></div>
<div class="div-table-head"><p>Language1</p></div>
<div class="div-table-head"><p>Label2</p></div>
<div class="div-table-head"><p>URL2</p></div>
<div class="div-table-head"><p>Type2</p></div>
<div class="div-table-head"><p>Encoding2</p></div>
<div class="div-table-head"><p>Label3</p></div>
<div class="div-table-head"><p>URL3</p></div>
<div class="div-table-head"><p>Type3</p></div>
<div class="div-table-head"><p>Encoding3</p></div>
<div class="div-table-head"><p>Label4</p></div>
<div class="div-table-head"><p>URL4</p></div>
<div class="div-table-head"><p>Type4</p></div>
<div class="div-table-head"><p>Encoding4</p></div>
<div class="div-table-head"><p>Label5</p></div>
<div class="div-table-head"><p>URL5</p></div>
<div class="div-table-head"><p>Type5</p></div>
<div class="div-table-head"><p>Encoding5</p></div>
<div class="div-table-head"><p>Label6</p></div>
<div class="div-table-head"><p>URL6</p></div>
<div class="div-table-head"><p>Type6</p></div>
<div class="div-table-head"><p>Encoding6</p></div>
<div class="div-table-head"><p>Label7</p></div>
<div class="div-table-head"><p>URL7</p></div>
<div class="div-table-head"><p>Type7</p></div>
<div class="div-table-head"><p>Encoding7</p></div>
<div class="div-table-head"><p>Label8</p></div>
<div class="div-table-head"><p>URL8</p></div>
<div class="div-table-head"><p>Type8</p></div>
<div class="div-table-head"><p>Encoding8</p></div>
<div class="div-table-head"><p>Label9</p></div>
<div class="div-table-head"><p>URL9</p></div>
<div class="div-table-head"><p>Type9</p></div>
<div class="div-table-head"><p>Encoding9</p></div>
<div class="div-table-head"><p>Version</p></div>
<div class="div-table-head"><p>Insert Time</p></div>
<div class="div-table-head"><p>Update Time</p></div>
<div class="div-table-head"><p>State</p></div>
</div>
<!-- table head begin -->

<!-- table body begin -->
<div class="div-table-body">

<!-- table row1 begin -->
<div class="div-table-row" id="_list.item">
<div class="div-table-cell"><p style="font-family:sans-serif;"><a id="anchor[j][0].url" href="#" target="_blank">Disable</a></p></div>
<div class="div-table-cell"><p style="font-family:sans-serif;"><a id="anchor[j][1].url" href="../source/form?source.id=1" target="_blank">Edit</a></p></div>
<div class="div-table-cell"><p style="font-family:sans-serif;"></div>
<div class="div-table-cell"><p id="source[j].id">1</p></div>
<div class="div-table-cell"><p id="source[j].name">金融时报・FT中文网</p></div>
<div class="div-table-cell"><p id="source[j].abbr">FT中文网</p></div>
<div class="div-table-cell"><p id="source[j].logo" style="max-width:20480px;overflow:hidden; text-overflow:ellipsis;"></p></div>
<div class="div-table-cell"><p id="source[j].domain">ftchinese.com</p></div>
<div class="div-table-cell"><p id="source[j].www">www.ftchinese.com</p></div>
<div class="div-table-cell"><p id="source[j].description" style="max-width:20480px;overflow:hidden; text-overflow:ellipsis;">FT中文网是...</p></div>
<div class="div-table-cell"><p id="source[j].type">0x00 Official Website</p></div>
<div class="div-table-cell"><p id="source[j].specific"></p></div>
<div class="div-table-cell"><p id="source[j].priority">-1</p></div>
<div class="div-table-cell"><p id="source[j].latency">200</p></div>
<div class="div-table-cell"><p id="source[j].label1"></p></div>
<div class="div-table-cell"><p id="source[j].url1">https://www.ftchinese.com</p></div>
<div class="div-table-cell"><p id="source[j].type1">0x01 Official Website Homepage</p></div>
<div class="div-table-cell"><p id="source[j].encoding1">utf-8</p></div>
<div class="div-table-cell"><p id="source[j].country1">CN</p></div>
<div class="div-table-cell"><p id="source[j].language1">zh_CN</p></div>
<div class="div-table-cell"><p id="source[j].label2"></p></div>
<div class="div-table-cell"><p id="source[j].url2">https://www.ftchinese.com/china</p></div>
<div class="div-table-cell"><p id="source[j].type2">0x02 Official Website List Pages</p></div>
<div class="div-table-cell"><p id="source[j].encoding2">utf-8</p></div>
<div class="div-table-cell"><p id="source[j].label3"></p></div>
<div class="div-table-cell"><p id="source[j].url3"></p></div>
<div class="div-table-cell"><p id="source[j].type3"></p></div>
<div class="div-table-cell"><p id="source[j].encoding3"></p></div>
<div class="div-table-cell"><p id="source[j].label4"></p></div>
<div class="div-table-cell"><p id="source[j].url4"></p></div>
<div class="div-table-cell"><p id="source[j].type4"></p></div>
<div class="div-table-cell"><p id="source[j].encoding4"></p></div>
<div class="div-table-cell"><p id="source[j].label5"></p></div>
<div class="div-table-cell"><p id="source[j].url5"></p></div>
<div class="div-table-cell"><p id="source[j].type5"></p></div>
<div class="div-table-cell"><p id="source[j].encoding5"></p></div>
<div class="div-table-cell"><p id="source[j].label6"></p></div>
<div class="div-table-cell"><p id="source[j].url6"></p></div>
<div class="div-table-cell"><p id="source[j].type6"></p></div>
<div class="div-table-cell"><p id="source[j].encoding6"></p></div>
<div class="div-table-cell"><p id="source[j].label7"></p></div>
<div class="div-table-cell"><p id="source[j].url7"></p></div>
<div class="div-table-cell"><p id="source[j].type7"></p></div>
<div class="div-table-cell"><p id="source[j].encoding7"></p></div>
<div class="div-table-cell"><p id="source[j].label8"></p></div>
<div class="div-table-cell"><p id="source[j].url8"></p></div>
<div class="div-table-cell"><p id="source[j].type8"></p></div>
<div class="div-table-cell"><p id="source[j].encoding8"></p></div>
<div class="div-table-cell"><p id="source[j].label9"></p></div>
<div class="div-table-cell"><p id="source[j].url9"></p></div>
<div class="div-table-cell"><p id="source[j].type9"></p></div>
<div class="div-table-cell"><p id="source[j].encoding9"></p></div>
<div class="div-table-cell"><p id="source[j].version">v2019.02.19</p></div>
<div class="div-table-cell"><p id="source[j].insertTime">2019-02-19 18:00</p></div>
<div class="div-table-cell"><p id="source[j].updateTime">2019-02-19 18:00</p></div>
<div class="div-table-cell"><p id="source[j].state">1</p></div>
</div>
<!-- table row1 begin -->

<!-- table row2 begin -->
<div class="div-table-row"  id="_list.item">
<div class="div-table-cell"><p style="font-family:sans-serif;"><a id="anchor[j][0].url" href="#" target="_blank">Disable</a></p></div>
<div class="div-table-cell"><p style="font-family:sans-serif;"><a id="anchor[j][1].url" href="../source/form?source.id=1" target="_blank">Edit</a></p></div>
<div class="div-table-cell"><p style="font-family:sans-serif;"></div>
<div class="div-table-cell"><p id="source[j].id">2</p></div>
<div class="div-table-cell"><p id="source[j].name">金融时报・FT中文网</p></div>
<div class="div-table-cell"><p id="source[j].abbr">FT中文网</p></div>
<div class="div-table-cell"><p id="source[j].logo" style="max-width:20480px;overflow:hidden; text-overflow:ellipsis;"></p></div>
<div class="div-table-cell"><p id="source[j].domain">ftchinese.com</p></div>
<div class="div-table-cell"><p id="source[j].www">www.ftchinese.com</p></div>
<div class="div-table-cell"><p id="source[j].description" style="max-width:20480px;overflow:hidden; text-overflow:ellipsis;">FT中文网是...</p></div>
<div class="div-table-cell"><p id="source[j].type">0x00 Official Website</p></div>
<div class="div-table-cell"><p id="source[j].specific"></p></div>
<div class="div-table-cell"><p id="source[j].priority">-1</p></div>
<div class="div-table-cell"><p id="source[j].latency">200</p></div>
<div class="div-table-cell"><p id="source[j].label1"></p></div>
<div class="div-table-cell"><p id="source[j].url1">https://www.ftchinese.com</p></div>
<div class="div-table-cell"><p id="source[j].type1">0x01 Official Website Homepage</p></div>
<div class="div-table-cell"><p id="source[j].encoding1">utf-8</p></div>
<div class="div-table-cell"><p id="source[j].country1">CN</p></div>
<div class="div-table-cell"><p id="source[j].language1">zh_CN</p></div>
<div class="div-table-cell"><p id="source[j].label2"></p></div>
<div class="div-table-cell"><p id="source[j].url2">https://www.ftchinese.com/china</p></div>
<div class="div-table-cell"><p id="source[j].type2">0x02 Official Website List Pages</p></div>
<div class="div-table-cell"><p id="source[j].encoding2">utf-8</p></div>
<div class="div-table-cell"><p id="source[j].label3"></p></div>
<div class="div-table-cell"><p id="source[j].url3"></p></div>
<div class="div-table-cell"><p id="source[j].type3"></p></div>
<div class="div-table-cell"><p id="source[j].encoding3"></p></div>
<div class="div-table-cell"><p id="source[j].label4"></p></div>
<div class="div-table-cell"><p id="source[j].url4"></p></div>
<div class="div-table-cell"><p id="source[j].type4"></p></div>
<div class="div-table-cell"><p id="source[j].encoding4"></p></div>
<div class="div-table-cell"><p id="source[j].label5"></p></div>
<div class="div-table-cell"><p id="source[j].url5"></p></div>
<div class="div-table-cell"><p id="source[j].type5"></p></div>
<div class="div-table-cell"><p id="source[j].encoding5"></p></div>
<div class="div-table-cell"><p id="source[j].label6"></p></div>
<div class="div-table-cell"><p id="source[j].url6"></p></div>
<div class="div-table-cell"><p id="source[j].type6"></p></div>
<div class="div-table-cell"><p id="source[j].encoding6"></p></div>
<div class="div-table-cell"><p id="source[j].label7"></p></div>
<div class="div-table-cell"><p id="source[j].url7"></p></div>
<div class="div-table-cell"><p id="source[j].type7"></p></div>
<div class="div-table-cell"><p id="source[j].encoding7"></p></div>
<div class="div-table-cell"><p id="source[j].label8"></p></div>
<div class="div-table-cell"><p id="source[j].url8"></p></div>
<div class="div-table-cell"><p id="source[j].type8"></p></div>
<div class="div-table-cell"><p id="source[j].encoding8"></p></div>
<div class="div-table-cell"><p id="source[j].label9"></p></div>
<div class="div-table-cell"><p id="source[j].url9"></p></div>
<div class="div-table-cell"><p id="source[j].type9"></p></div>
<div class="div-table-cell"><p id="source[j].encoding9"></p></div>
<div class="div-table-cell"><p id="source[j].version">v2019.02.19</p></div>
<div class="div-table-cell"><p id="source[j].insertTime">2019-02-19 18:00</p></div>
<div class="div-table-cell"><p id="source[j].updateTime">2019-02-19 18:00</p></div>
<div class="div-table-cell"><p id="source[j].state">1</p></div>
</div>
<!-- table row2 begin -->

<!-- table row3 begin -->
<div class="div-table-row"  id="_list.item">
<div class="div-table-cell"><p style="font-family:sans-serif;"><a id="anchor[j][0].url" href="#" target="_blank">Disable</a></p></div>
<div class="div-table-cell"><p style="font-family:sans-serif;"><a id="anchor[j][1].url" href="../source/form?source.id=1" target="_blank">Edit</a></p></div>
<div class="div-table-cell"><p style="font-family:sans-serif;"></div>
<div class="div-table-cell"><p id="source[j].id">3</p></div>
<div class="div-table-cell"><p id="source[j].name">金融时报・FT中文网</p></div>
<div class="div-table-cell"><p id="source[j].abbr">FT中文网</p></div>
<div class="div-table-cell"><p id="source[j].logo" style="max-width:20480px;overflow:hidden; text-overflow:ellipsis;"></p></div>
<div class="div-table-cell"><p id="source[j].domain">ftchinese.com</p></div>
<div class="div-table-cell"><p id="source[j].www">www.ftchinese.com</p></div>
<div class="div-table-cell"><p id="source[j].description" style="max-width:20480px;overflow:hidden; text-overflow:ellipsis;">FT中文网是...</p></div>
<div class="div-table-cell"><p id="source[j].type">0x00 Official Website</p></div>
<div class="div-table-cell"><p id="source[j].specific"></p></div>
<div class="div-table-cell"><p id="source[j].priority">-1</p></div>
<div class="div-table-cell"><p id="source[j].latency">200</p></div>
<div class="div-table-cell"><p id="source[j].label1"></p></div>
<div class="div-table-cell"><p id="source[j].url1">https://www.ftchinese.com</p></div>
<div class="div-table-cell"><p id="source[j].type1">0x01 Official Website Homepage</p></div>
<div class="div-table-cell"><p id="source[j].encoding1">utf-8</p></div>
<div class="div-table-cell"><p id="source[j].country1">CN</p></div>
<div class="div-table-cell"><p id="source[j].language1">zh_CN</p></div>
<div class="div-table-cell"><p id="source[j].label2"></p></div>
<div class="div-table-cell"><p id="source[j].url2">https://www.ftchinese.com/china</p></div>
<div class="div-table-cell"><p id="source[j].type2">0x02 Official Website List Pages</p></div>
<div class="div-table-cell"><p id="source[j].encoding2">utf-8</p></div>
<div class="div-table-cell"><p id="source[j].label3"></p></div>
<div class="div-table-cell"><p id="source[j].url3"></p></div>
<div class="div-table-cell"><p id="source[j].type3"></p></div>
<div class="div-table-cell"><p id="source[j].encoding3"></p></div>
<div class="div-table-cell"><p id="source[j].label4"></p></div>
<div class="div-table-cell"><p id="source[j].url4"></p></div>
<div class="div-table-cell"><p id="source[j].type4"></p></div>
<div class="div-table-cell"><p id="source[j].encoding4"></p></div>
<div class="div-table-cell"><p id="source[j].label5"></p></div>
<div class="div-table-cell"><p id="source[j].url5"></p></div>
<div class="div-table-cell"><p id="source[j].type5"></p></div>
<div class="div-table-cell"><p id="source[j].encoding5"></p></div>
<div class="div-table-cell"><p id="source[j].label6"></p></div>
<div class="div-table-cell"><p id="source[j].url6"></p></div>
<div class="div-table-cell"><p id="source[j].type6"></p></div>
<div class="div-table-cell"><p id="source[j].encoding6"></p></div>
<div class="div-table-cell"><p id="source[j].label7"></p></div>
<div class="div-table-cell"><p id="source[j].url7"></p></div>
<div class="div-table-cell"><p id="source[j].type7"></p></div>
<div class="div-table-cell"><p id="source[j].encoding7"></p></div>
<div class="div-table-cell"><p id="source[j].label8"></p></div>
<div class="div-table-cell"><p id="source[j].url8"></p></div>
<div class="div-table-cell"><p id="source[j].type8"></p></div>
<div class="div-table-cell"><p id="source[j].encoding8"></p></div>
<div class="div-table-cell"><p id="source[j].label9"></p></div>
<div class="div-table-cell"><p id="source[j].url9"></p></div>
<div class="div-table-cell"><p id="source[j].type9"></p></div>
<div class="div-table-cell"><p id="source[j].encoding9"></p></div>
<div class="div-table-cell"><p id="source[j].version">v2019.02.19</p></div>
<div class="div-table-cell"><p id="source[j].insertTime">2019-02-19 18:00</p></div>
<div class="div-table-cell"><p id="source[j].updateTime">2019-02-19 18:00</p></div>
<div class="div-table-cell"><p id="source[j].state">1</p></div>
</div>
<!-- table row3 begin -->

<!-- table row4 begin -->
<div class="div-table-row"  id="_list.item">
<div class="div-table-cell"><p style="font-family:sans-serif;"><a id="anchor[j][0].url" href="#" target="_blank">Disable</a></p></div>
<div class="div-table-cell"><p style="font-family:sans-serif;"><a id="anchor[j][1].url" href="../source/form?source.id=1" target="_blank">Edit</a></p></div>
<div class="div-table-cell"><p style="font-family:sans-serif;"></div>
<div class="div-table-cell"><p id="source[j].id">4</p></div>
<div class="div-table-cell"><p id="source[j].name">金融时报・FT中文网</p></div>
<div class="div-table-cell"><p id="source[j].abbr">FT中文网</p></div>
<div class="div-table-cell"><p id="source[j].logo" style="max-width:20480px;overflow:hidden; text-overflow:ellipsis;"></p></div>
<div class="div-table-cell"><p id="source[j].domain">ftchinese.com</p></div>
<div class="div-table-cell"><p id="source[j].www">www.ftchinese.com</p></div>
<div class="div-table-cell"><p id="source[j].description" style="max-width:20480px;overflow:hidden; text-overflow:ellipsis;">FT中文网是...</p></div>
<div class="div-table-cell"><p id="source[j].type">0x00 Official Website</p></div>
<div class="div-table-cell"><p id="source[j].specific"></p></div>
<div class="div-table-cell"><p id="source[j].priority">-1</p></div>
<div class="div-table-cell"><p id="source[j].latency">200</p></div>
<div class="div-table-cell"><p id="source[j].label1"></p></div>
<div class="div-table-cell"><p id="source[j].url1">https://www.ftchinese.com</p></div>
<div class="div-table-cell"><p id="source[j].type1">0x01 Official Website Homepage</p></div>
<div class="div-table-cell"><p id="source[j].encoding1">utf-8</p></div>
<div class="div-table-cell"><p id="source[j].country1">CN</p></div>
<div class="div-table-cell"><p id="source[j].language1">zh_CN</p></div>
<div class="div-table-cell"><p id="source[j].label2"></p></div>
<div class="div-table-cell"><p id="source[j].url2">https://www.ftchinese.com/china</p></div>
<div class="div-table-cell"><p id="source[j].type2">0x02 Official Website List Pages</p></div>
<div class="div-table-cell"><p id="source[j].encoding2">utf-8</p></div>
<div class="div-table-cell"><p id="source[j].label3"></p></div>
<div class="div-table-cell"><p id="source[j].url3"></p></div>
<div class="div-table-cell"><p id="source[j].type3"></p></div>
<div class="div-table-cell"><p id="source[j].encoding3"></p></div>
<div class="div-table-cell"><p id="source[j].label4"></p></div>
<div class="div-table-cell"><p id="source[j].url4"></p></div>
<div class="div-table-cell"><p id="source[j].type4"></p></div>
<div class="div-table-cell"><p id="source[j].encoding4"></p></div>
<div class="div-table-cell"><p id="source[j].label5"></p></div>
<div class="div-table-cell"><p id="source[j].url5"></p></div>
<div class="div-table-cell"><p id="source[j].type5"></p></div>
<div class="div-table-cell"><p id="source[j].encoding5"></p></div>
<div class="div-table-cell"><p id="source[j].label6"></p></div>
<div class="div-table-cell"><p id="source[j].url6"></p></div>
<div class="div-table-cell"><p id="source[j].type6"></p></div>
<div class="div-table-cell"><p id="source[j].encoding6"></p></div>
<div class="div-table-cell"><p id="source[j].label7"></p></div>
<div class="div-table-cell"><p id="source[j].url7"></p></div>
<div class="div-table-cell"><p id="source[j].type7"></p></div>
<div class="div-table-cell"><p id="source[j].encoding7"></p></div>
<div class="div-table-cell"><p id="source[j].label8"></p></div>
<div class="div-table-cell"><p id="source[j].url8"></p></div>
<div class="div-table-cell"><p id="source[j].type8"></p></div>
<div class="div-table-cell"><p id="source[j].encoding8"></p></div>
<div class="div-table-cell"><p id="source[j].label9"></p></div>
<div class="div-table-cell"><p id="source[j].url9"></p></div>
<div class="div-table-cell"><p id="source[j].type9"></p></div>
<div class="div-table-cell"><p id="source[j].encoding9"></p></div>
<div class="div-table-cell"><p id="source[j].version">v2019.02.19</p></div>
<div class="div-table-cell"><p id="source[j].insertTime">2019-02-19 18:00</p></div>
<div class="div-table-cell"><p id="source[j].updateTime">2019-02-19 18:00</p></div>
<div class="div-table-cell"><p id="source[j].state">1</p></div>
</div>
<!-- table row4 begin -->

<!-- table row5 begin -->
<div class="div-table-row"  id="_list.item">
<div class="div-table-cell"><p style="font-family:sans-serif;"><a id="anchor[j][0].url" href="#" target="_blank">Disable</a></p></div>
<div class="div-table-cell"><p style="font-family:sans-serif;"><a id="anchor[j][1].url" href="../source/form?source.id=1" target="_blank">Edit</a></p></div>
<div class="div-table-cell"><p style="font-family:sans-serif;"></div>
<div class="div-table-cell"><p id="source[j].id">5</p></div>
<div class="div-table-cell"><p id="source[j].name">金融时报・FT中文网</p></div>
<div class="div-table-cell"><p id="source[j].abbr">FT中文网</p></div>
<div class="div-table-cell"><p id="source[j].logo" style="max-width:20480px;overflow:hidden; text-overflow:ellipsis;"></p></div>
<div class="div-table-cell"><p id="source[j].domain">ftchinese.com</p></div>
<div class="div-table-cell"><p id="source[j].www">www.ftchinese.com</p></div>
<div class="div-table-cell"><p id="source[j].description" style="max-width:20480px;overflow:hidden; text-overflow:ellipsis;">FT中文网是...</p></div>
<div class="div-table-cell"><p id="source[j].type">0x00 Official Website</p></div>
<div class="div-table-cell"><p id="source[j].specific"></p></div>
<div class="div-table-cell"><p id="source[j].priority">-1</p></div>
<div class="div-table-cell"><p id="source[j].latency">200</p></div>
<div class="div-table-cell"><p id="source[j].label1"></p></div>
<div class="div-table-cell"><p id="source[j].url1">https://www.ftchinese.com</p></div>
<div class="div-table-cell"><p id="source[j].type1">0x01 Official Website Homepage</p></div>
<div class="div-table-cell"><p id="source[j].encoding1">utf-8</p></div>
<div class="div-table-cell"><p id="source[j].country1">CN</p></div>
<div class="div-table-cell"><p id="source[j].language1">zh_CN</p></div>
<div class="div-table-cell"><p id="source[j].label2"></p></div>
<div class="div-table-cell"><p id="source[j].url2">https://www.ftchinese.com/china</p></div>
<div class="div-table-cell"><p id="source[j].type2">0x02 Official Website List Pages</p></div>
<div class="div-table-cell"><p id="source[j].encoding2">utf-8</p></div>
<div class="div-table-cell"><p id="source[j].label3"></p></div>
<div class="div-table-cell"><p id="source[j].url3"></p></div>
<div class="div-table-cell"><p id="source[j].type3"></p></div>
<div class="div-table-cell"><p id="source[j].encoding3"></p></div>
<div class="div-table-cell"><p id="source[j].label4"></p></div>
<div class="div-table-cell"><p id="source[j].url4"></p></div>
<div class="div-table-cell"><p id="source[j].type4"></p></div>
<div class="div-table-cell"><p id="source[j].encoding4"></p></div>
<div class="div-table-cell"><p id="source[j].label5"></p></div>
<div class="div-table-cell"><p id="source[j].url5"></p></div>
<div class="div-table-cell"><p id="source[j].type5"></p></div>
<div class="div-table-cell"><p id="source[j].encoding5"></p></div>
<div class="div-table-cell"><p id="source[j].label6"></p></div>
<div class="div-table-cell"><p id="source[j].url6"></p></div>
<div class="div-table-cell"><p id="source[j].type6"></p></div>
<div class="div-table-cell"><p id="source[j].encoding6"></p></div>
<div class="div-table-cell"><p id="source[j].label7"></p></div>
<div class="div-table-cell"><p id="source[j].url7"></p></div>
<div class="div-table-cell"><p id="source[j].type7"></p></div>
<div class="div-table-cell"><p id="source[j].encoding7"></p></div>
<div class="div-table-cell"><p id="source[j].label8"></p></div>
<div class="div-table-cell"><p id="source[j].url8"></p></div>
<div class="div-table-cell"><p id="source[j].type8"></p></div>
<div class="div-table-cell"><p id="source[j].encoding8"></p></div>
<div class="div-table-cell"><p id="source[j].label9"></p></div>
<div class="div-table-cell"><p id="source[j].url9"></p></div>
<div class="div-table-cell"><p id="source[j].type9"></p></div>
<div class="div-table-cell"><p id="source[j].encoding9"></p></div>
<div class="div-table-cell"><p id="source[j].version">v2019.02.19</p></div>
<div class="div-table-cell"><p id="source[j].insertTime">2019-02-19 18:00</p></div>
<div class="div-table-cell"><p id="source[j].updateTime">2019-02-19 18:00</p></div>
<div class="div-table-cell"><p id="source[j].state">1</p></div>
</div>
<!-- table row5 begin -->

</div>
<!-- table body begin -->

</div>
<!-- table begin -->

<br />

<div style="padding:3px 5px;"><p><a href="form" target="_blank">Create a SOURCE record</a></p></div>

<br />
<br />

</body>
</html>